<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset='utf-8'>
  <title>%(title)s</title>
  <link href="style.css" media="screen" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.5/webcomponents-lite.min.js"></script>
  <link rel="stylesheet" href="tty-player.min.css">
  <script src="term.min.js"></script>
  <script src="tty-player.min.js"></script>
</head>

<body>
  <div id="header">
    Zobacz ten dokument jako <a href="%(original_doc)s">czysty tekst</a>.
  </div>
  <div id="main_div">
%(content)s
  </div>
  <div id="other_files">
    %(other_files)s
  </div>
</body>
