<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset='utf-8'>
  <title>%(title)s</title>
  <link href="../cssjs/style.css" media="screen" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.5/webcomponents-lite.min.js"></script>
  <link rel="stylesheet" href="../cssjs/tty-player.min.css">
  <script src="../cssjs/term.min.js"></script>
  <script src="../cssjs/tty-player.min.js"></script>
</head>

<body>
  <div class="other_files">
    %(other_files)s
  </div>
  <div id="main_div">
%(content)s
  </div>
  <div class="other_files">
    %(other_files)s
  </div>
</body>
