
body {
  background-color: #F0EFE7;
  font-family: arial,sans-serif;
}

#main_div {
  background-color: #FCFCFA;
  width: 600px;
  margin: 30px;
  padding: 30px;
}

p {
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
}

code {
  background-color: #FFFFFF;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #208F20;
  font-family: Courier, monospace !important;
  line-height: 18px;
  margin-bottom: 1em;
  overflow: auto;
  display: inline;
  padding: 0 5px;
  border: 1px solid #EFEEE6;
}

table.codehilitetable {
  width: 100%;
}

table.codehilitetable td.code {
  padding-right: 0px;
}

div.codehilite {
  display: block;
  padding: 1px;
  margin-top: 10px;
  background-color: #ececec;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 1em;
  overflow: auto;
  border: 1px solid #aaaaaa;
}

pre {
  line-height: 18px;
  font-family: Courier, monospace !important;
}

div.codehilite pre {
  margin: 5px;
}

td {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

thead {
  font-weight: bold;
}

p.hint {
  display: table-cell;
  background: url(../cssjs/hint.svg) 50px 50px no-repeat, #ccffcc;
  background-size: 50px 50px;
  background-position: 5px 5px;
  padding: 5px;
  padding-left: 60px;
  border: 1px solid #909090;
  border-radius: 7px;
  height: 50px;
  width: 600px;
  vertical-align: middle;
}
